<li class="sessions"><a href="/sessions/" title="YAPC::Asia 2007 Tokyo Sessions">Sessions</a></li>
        <li><a href="/wiki/" title="YAPC::Asia 2007 Tokyo Wiki">Wiki</a></li>
        <li><a href="http://tsudahall.com/" title="tsuda hall" target="_blank">Access</a></li>
