<div class="section" id="platinum">
  <h3>Platinum Sponsors</h3>
  <ul>
    <li><a href="http://mixi.co.jp/business.html" title="株式会社ミクシィ"><img alt="株式会社ミクシィ" src="http://tokyo2007.yapcasia.org/blog/images/sponsors/logo-mixi.jpg" width="150" height="42" /></a></li>
    <li><a href="http://www.sixapart.jp/" title="Six Apart"><img alt="Six Apart" src="http://tokyo2007.yapcasia.org/blog/images/sponsors/logo-sixapart.jpg" width="120" height="70" /></a></li>
    <li><a href="http://www.livedoor.com/" title="株式会社ライブドア"><img alt="株式会社ライブドア" src="http://tokyo2007.yapcasia.org/blog/images/sponsors/logo-livedoor.jpg" width="150" height="33" /></a></li>
    <li><a href="http://aws.amazon.com/" title="Amazon Web Services"><img alt="Amazon Web Services" src="http://tokyo2007.yapcasia.org/blog/images/sponsors/logo-aws.jpg" width="150" height="60" /></a></li>
  </ul>
</div>
<div class="section" id="media">
  <h3>Media Sponsors</h3>
  <ul>
    <li><a href="http://www.oreilly.co.jp/" title="O'Reilly Japan"><img alt="O'Reilly Japan" src="http://tokyo2007.yapcasia.org/blog/images/sponsors/logo-oreilly.jpg" width="150" height="40" /></a></li>
    <li><a href="http://www.impressjapan.jp/" title="株式会社インプレスジャパン"><img alt="株式会社インプレスジャパン" src="http://tokyo2007.yapcasia.org/blog/images/sponsors/logo-impressJapan.jpg" width="50" height="88" /></a></li>
  </ul>
</div>
<div class="section" id="Silver">
  <h3>Silver Sponsors</h3>
  <ul>
    <li><a href="http://labs.cybozu.co.jp/" title="サイボウズ・ラボ株式会社"><img alt="サイボウズ・ラボ株式会社" src="http://tokyo2007.yapcasia.org/blog/images/sponsors/logo-cybozulabs.jpg" width="150" height="25" /></a></li>
    <li><a href="http://google.com/" title="Google"><img alt="Google" src="http://tokyo2007.yapcasia.org/blog/images/sponsors/logo-google.jpg" width="150" height="60" /></a></li>
    <li><a href="http://www.dena.ne.jp/" title="株式会社ディー・エヌ・エー"><img alt="株式会社ディー・エヌ・エー" src="http://tokyo2007.yapcasia.org/blog/images/sponsors/logo-dena.jpg" width="150" height="41" /></a></li>
    <li><a href="http://www.endeworks.jp/" title="有限会社endeworks"><img alt="有限会社endeworks" src="http://tokyo2007.yapcasia.org/blog/images/sponsors/logo-endeworks.jpg" width="150" height="43" /></a></li>
    <li><a href="http://www.infomarks.co.jp/yapc2007/" title="インフォマークス株式会社"><img alt="インフォマークス株式会社" src="http://tokyo2007.yapcasia.org/blog/images/sponsors/logo-infomarks.jpg" width="150" height="45" /></a></li>
    <li><a href="http://www.i-revo.jp/" title="株式会社インターネットレボリューション"><img alt="株式会社インターネットレボリューション" src="http://tokyo2007.yapcasia.org/blog/images/sponsors/logo-irevo.jpg" width="150" height="38" /></a></li>
    <li><a href="http://www.mobilefactory.jp/" title="株式会社モバイルファクトリー"><img alt="株式会社モバイルファクトリー" src="http://tokyo2007.yapcasia.org/blog/images/sponsors/logo-mobilefactory.jpg" width="150" height="58" /></a></li>
    <li><a href="http://www.yahoo.co.jp/" title="Yahoo! JAPAN"><img alt="Yahoo! JAPAN" src="http://tokyo2007.yapcasia.org/blog/images/sponsors/logo-yahoo.jpg" width="150" height="39" /></a></li>
  </ul>
</div>
